@font-face {
  font-family: 'Bruno';
  src: url('/fonts/BrunoAceSC-Regular.ttf');
}

@font-face {
  font-family: 'Jura';
  src: url('/fonts/Jura-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Fr';
  src: url('/fonts/fr-fal1.ttf');
}

:root {
  --sidebar-width: 360px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jura", sans-serif;
  font-size: 18px;
  color: #2C2825;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;

  .logo {
    border-radius: 10px;
    width: 68px;
    margin-right: 8px;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: "Bruno", sans-serif;
    line-height: 90%;
    font-weight: 700;

    .row1{
      font-size: 21px;
      line-height: 22px;
    }

    .row2 {
      font-size: 28px;
      line-height: 28px;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  span {
    font-weight: 700;
    cursor: pointer;
    padding: 20px;
    color: #2C2825;
    transition: 0.3s;

    &:hover {
      background-color: #E6E6E6;
    }
  }
}

menu {
  margin: auto 0 0 0;
  border-top: 1px solid #E6E6E6;
  padding: 20px 20px 20px 40px;

  li {
    padding: 10px 0;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      color: dodgerblue;
    }
  }
}

main {
  display: flex;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

aside {
  min-width: var(--sidebar-width);
  border-right: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
}

section {
  margin-left: var(--sidebar-width);
  overflow: auto;
}

.slide {
  padding: 20px;
  min-height: 100vh;
  border-bottom: 1px solid #E6E6E6;
  position: relative;

  h2 {
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 15px;
  }

  .annotation {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &-home,
  &-contacts {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .annotation {
      text-align: right;
      margin-bottom: 5px;
    }
  }

  &-home {
    background: url("images/3kju95r9o7eb1.png");
    background-size: cover;
    color: white;
    text-shadow: 0 0 5px black;
  }

  &-contacts {
    padding: 20px 20px 70px 20px;
    background: url("images/Screenshot_7.png");
    background-size: cover;
    color: white;
    text-shadow: 0 0 5px black;

    .annotation {
      font-family: "Fr", sans-serif;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      line-height: 60px;

      a {
        color: greenyellow;
        transition: 0.3s;
        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
}

.item {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

  }

  &-card {
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;


    h3 {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 150px;
      padding: 20px;
      color: white;
      text-shadow: 0 0 5px black;
    }

    p {
      padding: 20px;
      font-size: 14px;
      font-weight: 600;
    }
    button {
      width: 100%;
      margin-top: auto;
      border: none;
      outline: none;
      font-family: "Jura", sans-serif;
      background-color: dodgerblue;
      color: white;
      font-weight: 500;
      padding: 20px;
      font-size: 18px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        filter: brightness(.9);
      }
    }
  }
}

.modal {
  width: 500px;
  background-color: white;
  margin: auto;
  padding: 20px;
  position: relative;

  .close {
    width: 40px;
    height: 40px;
    color: #c3c3c3;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    &:hover {
      cursor: pointer;
      color: #939393;
    }
  }

  .title {
    font-size: 24px;
    text-align: center;
    padding: 0 30px;
  }


  &-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    overflow: auto;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .order-button {
    display: block;
    width: 260px;
    border: none;
    outline: none;
    font-family: "Jura", sans-serif;
    background-color: dodgerblue;
    color: white;
    font-weight: 500;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 40px auto 0;
    transition: 0.3s;

    &.blue {
      background-color: dodgerblue;
    }

    &.green {
      background-color: forestgreen;
      pointer-events: none;
    }

    &:disabled {
      background-color: #c3c3c3;
      pointer-events: none;
    }

    &:hover {
      filter: brightness(.9);
    }
  }
}


.phone {
  &-selector {
    display: flex;
    justify-content: center;
  }

  &-number {
    font-family: "Bruno", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 20px;
  }

  &-text {
    text-align: center;
    margin-top: 20px;
  }

  &-digit {
    display: flex;
    flex-direction: column;
    width: 40px;
    border: 1px solid #E6E6E6;
    &:not(:last-child) {
      border-right: none;
    }

    label {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      font-weight: 500;
      user-select: none;

      input {
        pointer-events: none;
      }

      &:hover, &:has(input:checked) {
        cursor: pointer;
        color: dodgerblue;
        background-color: #E6E6E6;
      }
    }
  }
}
