@font-face {
  font-family: "Bruno";
  src: url("/public/BrunoAceSC-Regular.ttf");
}
@font-face {
  font-family: "Jura";
  src: url("/public/Jura-VariableFont_wght.ttf");
}
:root {
  --sidebar-width: 360px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jura", sans-serif;
  font-size: 18px;
  color: #2C2825;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
}
header .logo {
  border-radius: 10px;
  width: 68px;
  margin-right: 8px;
}
header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: "Bruno", sans-serif;
  line-height: 90%;
  font-weight: 700;
}
header h1 .row1 {
  font-size: 21px;
  line-height: 22px;
}
header h1 .row2 {
  font-size: 28px;
  line-height: 28px;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
nav a {
  font-weight: 700;
  text-decoration: none;
  padding: 20px;
  color: #2C2825;
  transition: 0.3s;
}
nav a:hover {
  background-color: #E6E6E6;
}

menu {
  margin: auto 0 0 0;
  border-top: 1px solid #E6E6E6;
  padding: 20px 20px 20px 40px;
}
menu li {
  padding: 10px 0;
  transition: 0.3s;
}
menu li:hover {
  cursor: pointer;
  color: dodgerblue;
}

main {
  display: flex;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

aside {
  min-width: var(--sidebar-width);
  border-right: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
}

section {
  margin-left: var(--sidebar-width);
  overflow: auto;
}

.slide {
  padding: 20px;
  min-height: 100vh;
  border-bottom: 1px solid #E6E6E6;
}
.slide h2 {
  font-size: 58px;
  line-height: 58px;
  margin-bottom: 15px;
}
.slide .annotation {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.slide-home {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide-home .annotation {
  text-align: right;
  margin-bottom: 5px;
}

.item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.item-card {
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
}
.item-card h3 {
  background-color: coral;
  min-height: 150px;
  padding: 20px;
}
.item-card p {
  padding: 20px;
  font-size: 14px;
  font-weight: 600;
}
.item-card button {
  width: 100%;
  margin-top: auto;
  border: none;
  outline: none;
  font-family: "RobotoFlex", sans-serif;
  background-color: dodgerblue;
  color: white;
  font-weight: 500;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.item-card button:hover {
  filter: brightness(0.9);
}

.modal {
  width: 500px;
  background-color: white;
  margin: auto;
  padding: 20px;
}
.modal .title {
  font-size: 24px;
  text-align: center;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  overflow: auto;
}
.modal-backdrop.show {
  opacity: 1;
  pointer-events: auto;
}
.modal .order-button {
  display: block;
  width: 260px;
  border: none;
  outline: none;
  font-family: "RobotoFlex", sans-serif;
  background-color: dodgerblue;
  color: white;
  font-weight: 500;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 40px auto 0;
  transition: 0.3s;
}
.modal .order-button.blue {
  background-color: dodgerblue;
}
.modal .order-button.green {
  background-color: forestgreen;
  pointer-events: none;
}
.modal .order-button:disabled {
  background-color: #c3c3c3;
  pointer-events: none;
}
.modal .order-button:hover {
  filter: brightness(0.9);
}

.phone-selector {
  display: flex;
  justify-content: center;
}
.phone-number {
  font-family: "Bruno", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 20px;
}
.phone-text {
  text-align: center;
  margin-top: 20px;
}
.phone-digit {
  display: flex;
  flex-direction: column;
  width: 40px;
  border: 1px solid #E6E6E6;
}
.phone-digit:not(:last-child) {
  border-right: none;
}
.phone-digit label {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  font-weight: 500;
}
.phone-digit label input {
  pointer-events: none;
}
.phone-digit label:hover, .phone-digit label:has(input:checked) {
  cursor: pointer;
  color: dodgerblue;
  background-color: #E6E6E6;
}

/*# sourceMappingURL=style.css.map */
