@font-face {
  font-family: 'Bruno';
  src: url('/fonts/BrunoAceSC-Regular.ttf');
}

@font-face {
  font-family: 'Jura';
  src: url('/fonts/Jura-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Fr';
  src: url('/fonts/fr-fal1.ttf');
}

:root {
  --sidebar-width: 360px;
  --topbar-height: 50px;
  --header-height: 50px;
  --main-offset: 0px;

  @media (max-width: 1400px) {
    --sidebar-width: 250px;
  }

  @media (max-width: 992px) {
    --sidebar-width: 0;
  }

  @media (max-width: 768px) {
    --header-height: 42px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jura", sans-serif;
  font-size: 18px;
  color: #2C2825;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;

  @media (max-width: 992px) {
    width: 50%;
    justify-content: flex-start;
    border: none;
    padding: 5px 15px;
    height: var(--header-height);
  }

  @media (max-width: 768px) {
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
    height: 42px;
    transition: .5s;
    margin-top: 0;
  }

  .logo {
    border-radius: 10px;
    width: 68px;
    margin-right: 8px;

    @media (max-width: 1400px) and (min-width: 993px) {
      display: none;
    }

    @media (max-width: 992px) {
      width: 40px;
    }
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: "Bruno", sans-serif;
    line-height: 90%;
    font-weight: 700;

    @media (max-width: 1400px) and (min-width: 993px) {
      transform: scale(0.8);
    }

    .row1{
      font-size: 21px;
      line-height: 22px;

      @media (max-width: 992px) {
        font-size: 12px;
        line-height: 12px;
      }
    }

    .row2 {
      font-size: 28px;
      line-height: 28px;

      @media (max-width: 992px) {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  @media (max-width: 992px) {
    width: 100%;
    order: 3;
    flex-direction: row;
    padding: 0;
    border-top: 1px solid #E6E6E6;
    font-size: 14px;
    height: var(--topbar-height);
  }

  @media (max-width: 768px) {
    width: auto;
    order: 2;
    border: none;
  }

  .link {
    font-weight: 700;
    cursor: pointer;
    padding: 20px;
    color: #2C2825;
    transition: 0.3s;
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      padding: 10px 15px;
    }

    @media (max-width: 768px) {
      width: 25%;
      justify-content: center;
    }

    span {
      @media (max-width: 768px) {
        display: none;
      }
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      @media (max-width: 768px) {
        margin-right: 0;
      }

      @media (max-width: 370px) {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      background-color: #E6E6E6;
    }
  }
}

menu {
  margin: auto 0 0 0;
  border-top: 1px solid #E6E6E6;
  padding: 20px;
  list-style: none;

  @media (max-width: 992px) {
    padding: 5px 15px;
    order: 2;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    list-style: none;
    margin-top: 0;
    font-size: 14px;
    height: var(--topbar-height);
  }

  @media (max-width: 768px) {
    padding-right: 0;
    width: auto;
    order: 3;
  }

  li {
    padding: 10px 0;
    transition: 0.3s;
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      padding: 5px 15px;
    }

    @media (max-width: 768px) {
      padding: 5px 10px;
    }

    span {
      @media (max-width: 768px) {
       display: none;
      }
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      @media (max-width: 768px) {
        margin-right: 0;
      }

      @media (max-width: 370px) {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      cursor: pointer;
      color: dodgerblue;
    }
  }
}

main {
  display: flex;
  scroll-padding-top: 100px;


  @media (max-width: 992px) {
    flex-direction: column;

    aside {
      position: fixed;
      top: var(--main-offset);
      left: 0;
      right: 0;
      z-index: 9;
      bottom: unset;
    }

    section {
      position: fixed;
      top: calc(var(--topbar-height) + var(--header-height) + var(--main-offset));
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #2C2825;
  text-shadow: none;
  font-weight: 700;
}

aside {
  width: var(--sidebar-width);
  border-right: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: white;

  @media (max-width: 992px) {
    position: relative;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    border-bottom: 1px solid #E6E6E6;
  }
}

section {
  margin-left: var(--sidebar-width);
  overflow: auto;
}

.slide {
  padding: 20px;
  min-height: 100vh;
  border-bottom: 1px solid #E6E6E6;
  position: relative;

  h2 {
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      font-size: 28px;
      line-height: 28px;
    }
  }

  .annotation {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 16px !important;
    }
  }

  &-home,
  &-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .annotation {
      text-align: right;
      margin-bottom: 5px;

      @media (max-width: 768px) {
        line-height: 28px !important;
      }
    }
  }

  &-home {
    background-image: url("images/3kju95r9o7eb1.png");
    background-size: cover;
    color: white;
    text-shadow: 0 0 5px black;
    background-position: 20% 50%;
  }

  &-contacts {
    padding: 20px 20px 70px 20px;
    background-image: url("images/cntcts.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 0 0 5px black;

    .annotation {
      font-family: "Fr", sans-serif;
      font-size: 30px;
      display: flex;
      flex-direction: column;
      line-height: 60px;

      a {
        color: greenyellow;
        transition: 0.3s;
        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
}

.item {
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr ;
      grid-column-gap: 10px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  &-card {
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;


    h3 {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 150px;
      padding: 20px;
      color: white;
      text-shadow: 0 0 5px black;

      @media (max-width: 768px) {
        min-height: 150px;
        font-size: 16px;
        padding: 10px;
      }
    }

    p {
      padding: 20px;
      font-size: 14px;
      font-weight: 600;

      @media (max-width: 768px) {
        //min-height: 150px;
        font-size: 12px;
        padding: 10px;
      }
    }
    button {
      width: 100%;
      margin-top: auto;
      border: none;
      outline: none;
      font-family: "Jura", sans-serif;
      background-color: dodgerblue;
      color: white;
      font-weight: 500;
      padding: 20px;
      font-size: 18px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        filter: brightness(.9);
      }
    }
  }
}

.modal {
  width: 500px;
  background-color: white;
  margin: auto;
  padding: 20px;
  position: relative;

  @media (max-width: 524px) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .close {
    width: 40px;
    height: 40px;
    color: #c3c3c3;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

    &:hover {
      cursor: pointer;
      color: #939393;
    }
  }

  .title {
    font-size: 24px;
    text-align: center;
    padding: 0 30px;
  }


  &-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    overflow: auto;
    z-index: 99;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .order-button {
    display: block;
    width: 260px;
    border: none;
    outline: none;
    font-family: "Jura", sans-serif;
    background-color: dodgerblue;
    color: white;
    font-weight: 500;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 40px auto 0;
    transition: 0.3s;

    &.blue {
      background-color: dodgerblue;
    }

    &.green {
      background-color: forestgreen;
      pointer-events: none;
    }

    &:disabled {
      background-color: #c3c3c3;
      pointer-events: none;
    }

    &:hover {
      filter: brightness(.9);
    }
  }
}

.phone {
  &-selector {
    display: flex;
    justify-content: center;
  }

  &-number {
    font-family: "Bruno", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 20px;

    @media (max-width: 524px) {
      font-size: 26px;
    }
  }

  &-text {
    text-align: center;
    margin-top: 20px;
  }

  &-digit {
    display: flex;
    flex-direction: column;
    width: 40px;
    border: 1px solid #E6E6E6;
    &:not(:last-child) {
      border-right: none;
    }

    label {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      font-weight: 500;
      user-select: none;

      @media (max-width: 524px) {
        padding: 1px 2px;
        font-size: 12px;

        input {
          margin-right: 2px;
        }
      }

      input {
        pointer-events: none;
      }

      &:hover, &:has(input:checked) {
        cursor: pointer;
        color: dodgerblue;
        background-color: #E6E6E6;
      }
    }
  }
}

#chat {
  .title {
    text-align: left;
    padding-left: 0;
    margin-bottom: 20px;

    span {
      font-family: "Fr", sans-serif;
    }
  }

  #messages {
    height: 400px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    position: relative;
    overflow: auto;

    @media (max-width: 524px) {
      height: calc(100% - 100px);
    }

    .forward,
    .reply {
      position: relative;
      margin-bottom: 20px;

      &:before {
        font-family: "Jura", sans-serif;
        position: absolute;
        font-size: 12px;
      }
    }

    .forward {
      &:before {
        content: "Вы:";
        top: -12px;
      }
    }

    .reply {
      font-family: "Fr", sans-serif;
      text-align: right;
      background-color: #E6E6E6;
      border-radius: 8px;
      padding: 15px 10px 10px 10px;

      &:before {
        content: "Оператор:";
        right: 4px;
        top: 0;
      }
    }
  }

  .write {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  textarea {
    width: 100%;
    margin-right: 10px;
    min-height: 40px;
    border-radius: 8px;
    resize: vertical;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }

  .send {
    width: 30px;
    margin-bottom: 5px;
  }
}
